html {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}
.menu {
  min-height: auto;
}

.hamburger {
  display: none !important;
}

.menu-btn-container {
  display: inline-flex;
}
.menu-dir-txt {
  max-width: calc(100% - 240px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.menu-btn.pink .menu-btn-ic{
  display: none;
}

.profile-block {
  display: flex;
  .profile-ic {
    margin-right: 5px;
  }
}

.panel-md{
  width: 800px;
  margin: 100px auto auto;
}

.project-item {
  cursor: pointer;
}

.note-content {
  white-space: pre-wrap;
  text-align:justify;
}

.project-item {
  min-width: 80px;
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.mobile-only {
  display: none;
}

.logo-img {
  max-width: 50px;
  margin-right: 10px;
}

.state-selector {
  margin-top: 15px;
  .selector > div > div{
    min-width: 60px;
    text-align: center;
  }
  .input-label {
    margin-right: 10px;
  }
}

.shared-with-container{
  .entry{
    .input {
      width: calc(100% - 30px);
    }
    .add-btn{
      position: relative;
      top: 15px;
      padding: 5px;
    }
  }

  .items{
    flex-wrap: wrap;
    margin-top: 15px;
    .item {
      display: inline;
      font-size: 13px;
      margin-right: 5px;
      padding: 3px;
      border-radius: 15px;
      background-color: $color-blue;
      color: white;
      font-weight: 600;
      span {
        margin-left: 10px;
        position: relative;
        bottom: 1px;
      }
      .remove-btn{
        color: white;
        position: relative;
        bottom: 3.5px;
        padding: 5px;
        width: 25px;
        max-height: 20px;
        margin-left: 5px;
        svg {
          font-size: 15px;
        }
      }
    }
  }
}

