@media (max-width: 425px) {
  .panel-md {
    width: 100%;
    padding: 15px;
  }

  .hamburger {
    display: inline-block !important;
    position: absolute !important;
    right: 0px;
    top: 5px;
  }

  .menu-btn-container {
    display: none;
  }

  .hamburger.open {
    color: white;
  }

  .menu-options.open {
    .menu-btn-container {
      border-top: 1px solid $color-purple;
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 56px;
      background-color: $color-dark-blue;
      text-align: left;
      .menu-item {
        &:hover {
          background-color: $color-blue;
        }
        width: 100%;
        margin: 0px;
        border-bottom: 1px solid $color-purple;
        &>div{
          width: 100%;
        }
        &>button{
          width: 100%;
          justify-content: start
        }
        svg {
          margin-left: 7px;
          margin-right: 7px;
        }
        .menu-btn {
          box-shadow: none;
          width: 100%;
          padding: 0px;
          border-radius: 0px;
          background-color: transparent;
          justify-content: start;

          button {
            background-color: transparent;
          }
          .menu-btn-txt {
            display: block;
          }
        }
      }

    }
  }

  .logout-bnt{
    width: 100%;
    justify-content: start !important;
    padding-left: 0px !important;
    svg {
      margin-left: 7px;
      margin-right: 7px;
    }
  }

  .mobile-only {
    display: block;
  }

  .profile-block .menu-item > button {
    padding-left: 0px;
  }

  .logout-txt {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .profile-txt {
    display: block;
  }
  .note-item {
    max-width: 50% !important;
    flex-basis: 50% !important;
  }
}

@media (max-width: 430px) {
  .panel-md {
    padding: 15px;
  }
  .note-item {
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}