
@media (max-width: 768px) {
  .panel-md {
    padding: 10px;
    max-width: 600px;
  }


  .menu-dir-txt {
    display: none;
  }

  .menu-item {
    padding: 0 1px;
    margin-left: 5px;
  }

  .menu-btn.pink {
    .menu-btn-txt {
      display: none;
    }
    .menu-btn-ic{
      display: block;
    }
  }

  .profile-block > button {
    width: fit-content;
    min-width: auto;
  }

  .profile-txt{
    display: none;
  }
}

@media (max-width: 600px) {

  .note-item {
    max-width: 50% !important;
    flex-basis: 50% !important;
  }

  .panel-md {
    padding: 10px;
    max-width: 400px;
  }


}
